local player = game.Players.LocalPlayer
 
 
local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
 
local Window = Library.CreateLib("                                                       C 4 R T v0.1        ", "Sentinel")
------------main
local Tab = Window:NewTab("قدرات خارقة")
local Section = Tab:NewSection("قدرات خارقة")
Section:NewButton("سرعة", "كتقدر تبدل السرعة من هنا", function()
 
    player.Character.Humanoid.WalkSpeed = 100
 
end)
 
Section:NewButton("التنقاز", "كتقدر تولي كنغر من هنا", function()
 
    player.Character.Humanoid.JumpPower = 200
 
end)
 
Section:NewButton("الطـيران", "كتقدر طير من هنا", function()
 
    loadstring(game:HttpGet("https://raw.githubusercontent.com/GOaitsd/c4rt-FLY/refs/heads/main/.gitignore"))()
 
end)
Section:NewButton("التـنقل (تحت الانشاء)", "كتقدر تنقل لـلاعبـين من هنا", function()
 
  loadstring(game:HttpGet("https://gist.githubusercontent.com/DagerFild/b4776075a0d26ef04394133ee6bd2081/raw/0ed51ac94057d2d9a9f00e1b037b9011c76ca54a/tpGUI", true))()
 
end)
 
 
 
local Tab = Window:NewTab("الحوا")
local Section = Tab:NewSection("بدا تحوي فبنادم")
Section:NewButton("اغتصاب C4RT", "كتقدر تحوي من هنا", function()
 
   loadstring(game:HttpGet("https://raw.githubusercontent.com/GOaitsd/bang-script/refs/heads/main/.gitignore"))()
 
end)

Section:NewButton("سكربـت VR7", "كتقدر تدير سكربتات من هنا", function()
 
   loadstring(game:HttpGet("https://raw.githubusercontent.com/VR7ss/OMK/refs/heads/main/VR7-ON-TOP"))()
 
end)
Section:NewButton("تكفات", "كتقدر تكفت من هنا", function()
 
  loadstring(game:HttpGet("https://pastefy.app/YZoglOyJ/raw"))()
 
end)
 
Section:NewButton("الحوا بطرق اخرين", "كتقدر تحوي بطرق اخرين من هنا", function()
 
  loadstring(game:HttpGet("https://pastebin.com/raw/FWwdST5Y"))()
 
end)
 
 
local Tab = Window:NewTab("رقصات")
local Section = Tab:NewSection("بدا تشطح المعلم ")
Section:NewButton("الشطيح", "كتقدر تشطح من هنا", function()
 
   loadstring(game:HttpGet("https://scriptblox.com/raw/Brookhaven-RP-all-emotes-6849"))()
 
end)
local Tab = Window:NewTab("مظادات")
local Section = Tab:NewSection("مظادات")
Section:NewButton("مضاد afk", "كتقدر دير مظادات من هنا", function()
 
   loadstring(game:HttpGet("https://raw.githubusercontent.com/Luongdaynetroi/AntiAfk/refs/heads/main/Free/.lua"))()
 
end)
